<!DOCTYPE html>
<html>
<head>
  <title>Ninoxe</title>
  <%= stylesheet_link_tag    "ninoxe/application", :media => "all" %>
  <%= javascript_include_tag "ninoxe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
